.App.Dark {
  background-color: #282c34;
  color: white;
}

.App.Light {
  background-color: #ffffff;
  color: #282c34;
  background-image: url('/public/images/pexels-minan1398-1353938.jpg');
}

.App.Striped {
  background-color: #282c34;
  color: white;
  background: repeating-linear-gradient(
    45deg,
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2) 10px,
    rgba(0, 0, 0, 0.3) 10px,
    rgba(0, 0, 0, 0.3) 20px
  ),
}

.AppBar.Striped {
  background-color: #282c34;
}

.AppBar.Dark {
  background-color: #615f5f;
}

.AppBar.Light {
  background-color: rgb(25, 118, 210);
}

.settings-background.Tan {
  background-color: #fff;
}

.settings-background.Dark {
  background-color: #fff;
}

.settings-background.Light {
  background-color: #fff;
}

.settings-background.Striped:hover {
  background-color: #ddd6d6;
}

.settings-background.Dark:hover {
  background-color: #d8d5d5;
}

.settings-background.Light:hover {
  background-color: #b5d0ea;
}

.settings-icon.Striped {
  color: #282c34;
}

.settings-icon.Dark {
  color: #615f5f;
}

.settings-icon.Light {
  color: rgb(25, 118, 210);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-content {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  margin: 0 20px;
  text-align: center;
}

.App-content .MuiPaper-root {
  text-align: left;
  margin: 10px 30px;
  padding: 20px;
}

.App.Dark .App-content .MuiPaper-root {
  background-color: #716f6f;
  color: #ffffff;
}

.App.Striped .App-content .MuiPaper-root {
  background-color: #716f6f;
  color: #ffffff;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
